<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         cacheTokens="false"
>
    <testsuites>
        <testsuite name="Domain">
            <directory suffix="Test.php">./tests/Domain</directory>
        </testsuite>
        <testsuite name="App">
            <directory suffix="Test.php">./tests/App</directory>
        </testsuite>
        <testsuite name="Infrastructure">
            <directory suffix="Test.php">./tests/Infrastructure</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="123"/>
        <env name="DATABASE_SQLITE_PATH" value=""/>
        <env name="DATABASE_SQLITE_IN_MEMORY" value="true"/>
    </php>
</phpunit>
